<!--Box-Main-->
<div class="view">
	<div *ngFor="let viewDatasModel of viewDatasModels" class="view__container" data-toggle="modal" data-target=".details" (click)="onSelect(viewDatasModel)">
			<div class="view__content">
				<span class="view__author card-title">{{viewDatasModel.author}}</span>
			<div class="view__date ">{{viewDatasModel.date | date: 'yyyy/MM/dd'}}</div>
				<p class="view__describe">{{viewDatasModel.describe}}</p>
			</div>
			<div class="view__count view--blackCard">{{viewDatasModel.count}} records</div>
			<div class="view__size view--blackCard">{{viewDatasModel.sizeString}}</div>
	</div>
</div>

<viewDetails-api [viewDetailsModel] = "selectData" ></viewDetails-api>

