.json-area {
	border:2px solid #272727;
	padding:3px;
	display:inline-block;
	border-radius:6px;
}

.datas {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	height:300px;
	width:745px;
	color:white;
	background-color:#272727;
	padding:10px;
}

.datas:focus {
	outline-width:0;	
}

.lines {
	

}
