
<div class="modal fade details" tabindex="-1" role="dialog" aria-labelledby="Details" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="details__left">
			<div class="details__url">
				<input type="text" value='test' readonly>
			</div>
			<div class="details__author">{{viewDetailsModel.author}}</div>
			<div class="details__size">{{viewDetailsMode.size}}</div>
			<div class="details__count">{{viewDetailsModel.count}} records</div>
			<div class="details__updateDate">{{viewDetailsModel.date}}</div>
			<div class="details__uploadDate">{{viewDetailsModel.date}}</div>
			<div class="details__describe">{{viewDetailsModel.describe}}</div>
		</div>
		<div class="details__right">
			<div class="details__json">
			</div>
		</div>
    </div>
  </div>
</div>
