
<div class="modal fade details" tabindex="-1" role="dialog" aria-labelledby="Details" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
			<div class="details__url">
				<input type="text" value="http://mark.lin.com.tw" readonly>
		
			</div>
			<div class="details__author">author</div>
			<div class="details__describe">describe</div>
			<div class="details__size">size</div>
			<div class="details__count">count</div>
			<div class="details__json">json</div>
    </div>
  </div>
</div>
