
#json-main {
	display:flex;
	justify-content:center;
}

.json-header {
	font-size:26px;
	padding:20px;
}

.json-inputarea {
	margin:20px;	
	border:2px solid #272727;
	padding:3px;
	border-radius:6px;
}

.json-inputarea > .datas {
	margin:0px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	height:300px;
	width:745px;
	color:white;
	background-color:#272727;
	padding:10px;
}

.json-inputarea > .datas:focus {
	outline-width:0;	
}


.json-descript {
	font-size:16px;
	margin:20px;
}

.json-descriptLabel {
	font-size:16px;
}

.json-createButton {
	margin:20px;
}
