main {
  font-family: Arial, Helvetica, sans-serif;
	width:83%;
	max-width:1350px;
	margin:20px auto;
	box-sizing:border-box;
}

nav a {
	font-size:1.3em;
	padding: 10px 15px;
	text-decoration:none;
	margin-top:10px;
	margin-left: 40px;
	display:inline-block;
	background-color: #4F4F4F;
	border-radius:4px;
}

nav a:visited, a:link{
	color:#607D8B;
}

nav a:hover{
	color:#039be5;
	background-color:#CFD8DC;
}

nav a.active {
	color:#039be5;
}

h1 {
	font-size:2em;
	margin:30px;
	text-align:center;
}
