<!-- Modal -->

<div class="modal fade modal__main" tabindex="-1" role="dialog" aria-labelledby="Details"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal__content">
    <ul class="nav nav-tabs nav__main">
      <li class="nav-item" *ngFor="let tab of tabs" (click)="selectTab(tab)">
        <a class="nav-link nav__item--active" >{{tab.title}}</a>
      </li>
    </ul>

	<viewDetails-api [selectId]="selectId" ></viewDetails-api>
	<testGet-api [selectId]="selectId"></testGet-api>	
  </div>
</div>


